* {
    color: rgb(0, 0, 0);
    background: rgb(189, 203, 226);
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.container {
    min-height: 100%;
    background: white;
    height: 100%; 
}

.logo {
    margin-top: 3.9%;
    margin-left: 4%;
}

button  {
    width: 46%;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
}
/*----------------------------------------------------------------*/
.botones_iniciales{   
    width: 100%;

}
.contenedor_botones_iniciales {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 20px;

}

#boton_iniciar {
    
    margin-top: 20%;
    height: 114px;
    background: #0A3871;
    border-radius: 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#boton_agregar {
    border-radius: 24px;    
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

}
/*----------------------------------------------------------------*/
.palabras_nuevas {
    display: grid;
    grid-template-columns: 48%;
    justify-content: center;
    gap: 5px;
    display: none;
}
#textarea_nueva_palabra {
    margin-top: 16.5%;
    margin-bottom: 40%; 
    border: none;
    outline: none;

    /*caracteristicas letras*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #0A3871;
}
#textarea_nueva_palabra::placeholder {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}
#condicion_palabra {
    margin-bottom: 1%;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;

}
.botones_palabra {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
#boton_guardar {
    background: #0A3871;
    border-radius: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
#boton_cancelar {
    border-radius: 24px;    
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
button:active {
    border: none;
}
/*----------------------------------------------------------------*/
.juego {
    display: grid;
    grid-template-columns: 48%;
    justify-content: center;
    gap: 5px;
    display: none;
}
.imagenes_ahorcado {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.imagenes_ahorcado img {
    display: none;
}
#ahorcado1 {
    display: block;
}
.contenedor_letras {
    margin-top: 10%;
    width: 100%;
    display: flex;
    gap:2.3%;
    align-items: center;
    justify-content: center;
}
.contenedor_letras textarea {
    width: 10%;
    height: 100%;
    justify-content: center;
    text-align: center;
    outline: none;
    border: none;
    resize: none;

    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
    color: #0A3871;
}
.contenedor_guiones {
    margin-top: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2%;
}
.contenedor_guiones img {
    width: 10.5%;
}
#letras_mal {
    width: 100%;
    margin-top: 5%;
    display: flex;
    text-align: center;
    outline: none;
    border: none;
    resize: none;

    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    
}
.contenedor_botones_juego {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
#boton_nuevo_juego {
    background: #0A3871;
    border-radius: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
#boton_desistir {
    border-radius: 24px;    
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

}

footer {
    position: absolute;
    width: 100%;
    bottom: 1%;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}