html {
    width: 100%;
    height: 100%;
}
* {
    color: rgb(0, 0, 0);
    background: rgb(189, 203, 226);
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.header {
    height: 15%;
}
.logo {
    margin-top: 3.9%;
    margin-left: 4%;
}
.container {
    background: white;
    height: 80%; 
}


button  {
    width: 46%;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
}
/*----------------------------------------------------------------*/
.botones_iniciales{   
    width: 100%;
    height: 100%;
    display: flex;

}
.contenedor_botones_iniciales {
    width: 50%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin-bottom: 20%;
    gap: 20px;

}
.contenedor_botones_iniciales button {
    width: 80%;
}

#boton_iniciar {
    
    min-height: 30%;
    background: #0A3871;
    border-radius: 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#boton_agregar {
    min-height: 15%;
    width: 70%;
    border-radius: 24px;    
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

}
/*----------------------------------------------------------------*/
.palabras_nuevas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: none;
}
#textarea_nueva_palabra {
    width: 48%;
    border: none;
    outline: none;
    min-height: 50%;


    /*caracteristicas letras*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #0A3871;
}
#textarea_nueva_palabra::placeholder {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}
#condicion_palabra {
    width: 48%;
    margin-bottom: 1%;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;

}
.botones_palabra {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
#boton_guardar {
    background: #0A3871;
    border-radius: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
#boton_cancelar {
    border-radius: 24px;    
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
button:active {
    border: none;
}
/*----------------------------------------------------------------*/
.juego {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    display: none;
}
.imagenes_ahorcado {
    display: flex;
    min-height: 48%;
    width: 48%;
    justify-content: center;
}
.imagenes_ahorcado img {
    display: none;
}
#ahorcado1 {
    display: block;
}
.container_letras_general {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


}
.contenedor_letras {
    margin-top: 2%;
    width: 40%;
    display: flex;
    gap:2.3%;
    align-items: center;
    justify-content: center;
}
.contenedor_letras textarea {
    width: 10%;
    height: 100%;
    justify-content: center;
    text-align: center;
    outline: none;
    border: none;
    resize: none;

    font-weight: bold;
    font-size: 2.5em;
    line-height: 150%;
    color: #0A3871;
}
.contenedor_guiones {
    margin-top: 2%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3%;
}
.contenedor_guiones img {
    width: 9.5%;
}
#letras_mal {
    width: 100%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    text-align: center;
    outline: none;
    border: none;
    resize: none;

    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    
}
.contenedor_botones_juego {
    margin-top: 1%;
    width: 48%;
    bottom:0;
    margin-bottom: 1%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#boton_nuevo_juego {
    background: #0A3871;
    border-radius: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
#boton_desistir {
    border-radius: 24px;    
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

}
/*----------------------------------------------------------------*/
footer {
    position: absolute;
    width: 100%;
    height: 5%;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}