html {
    width: 100%;
    height: 100%;
}
* {
    color: rgb(0, 0, 0);
    background: rgb(189, 203, 226);
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.header {
    height: 15%;
}
.logo {
    margin-top: 3.9%;
    margin-left: 4%;
}
.container {
    background: white;
    height: 80%; 
}


button  {
    width: 46%;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
}
/*----------------------------------------------------------------*/
.botones_iniciales{   
    width: 100%;
    height: 100%;
    display: flex;

}
.contenedor_botones_iniciales {
    width: 50%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin-bottom: 20%;
    gap: 20px;

}
.contenedor_botones_iniciales button {
    width: 80%;
}

#boton_iniciar {
    
    min-height: 30%;
    background: #0A3871;
    border-radius: 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#boton_agregar {
    min-height: 15%;
    width: 70%;
    border-radius: 24px;    
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

}
/*----------------------------------------------------------------*/
.palabras_nuevas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: none;
}
#textarea_nueva_palabra {
    width: 48%;
    border: none;
    outline: none;
    min-height: 50%;


    /*caracteristicas letras*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #0A3871;
}
#textarea_nueva_palabra::placeholder {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}
#condicion_palabra {
    width: 48%;
    margin-bottom: 1%;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;

}
.botones_palabra {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
#boton_guardar {
    background: #0A3871;
    border-radius: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
#boton_cancelar {
    border-radius: 24px;    
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
button:active {
    border: none;
}
/*----------------------------------------------------------------*/
.juego {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    display: none;
}
.imagenes_ahorcado {
    display: flex;
    min-height: 48%;
    width: 48%;
    justify-content: center;
}
.imagenes_ahorcado img {
    display: none;
}
#ahorcado1 {
    display: block;
}
.container_letras_general {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


}
.contenedor_letras {
    margin-top: 2%;
    width: 40%;
    display: flex;
    gap:2.3%;
    align-items: center;
    justify-content: center;
}
.contenedor_letras textarea {
    width: 10%;
    height: 100%;
    justify-content: center;
    text-align: center;
    outline: none;
    border: none;
    resize: none;

    font-weight: bold;
    font-size: 2.5em;
    line-height: 150%;
    color: #0A3871;
}
.contenedor_guiones {
    margin-top: 2%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3%;
}
.contenedor_guiones img {
    width: 9.5%;
}
#letras_mal {
    width: 100%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    text-align: center;
    outline: none;
    border: none;
    resize: none;

    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    
}
#ingresar_letras {
    display: none;
    width: 100%;
    justify-content: center;
    text-align: center;
    outline: none;
    border-radius: 24px;
    border-color: #0A3871;
    border-width: 2px;


    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #0A3871;
}
.contenedor_botones_juego {
    margin-top: 1%;
    width: 48%;
    bottom:0;
    margin-bottom: 1%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#boton_nuevo_juego {
    background: #0A3871;
    border-radius: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
#boton_desistir {
    border-radius: 24px;    
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

}

.ganaste_perdiste {
    opacity: 0.9;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    gap: 2%;
    width: 50%;
    min-height: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: none;
}
#ganaste_perdiste_label {
    border-radius: 24px;    
    font-weight: bold;
    font-size: 32px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
#boton_jugar_nuevamente {
    width: 80%;
    height: 15%;
    background: #0A3871;
    border-radius: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
#trofeo, #perder {
    display: none;
    max-width: 70%;
    max-height: 70%
}
/*----------------------------------------------------------------*/
footer {
    position: absolute;
    width: 100%;
    height: 5%;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
@media screen and (max-width: 768px) {
    .contenedor_botones_iniciales {
        width: 60%;
    }
    #boton_iniciar {
        min-height: 15%;
    }
    #boton_agregar {
        min-height: 10%;
    }
    #textarea_nueva_palabra, #condicion_palabra, .botones_palabra {
        width: 90%;
    }
    #textarea_nueva_palabra {
        min-height: 80%;
    }
    .contenedor_letras, .contenedor_guiones {
        width: 75%;
        justify-content: space-around;
    }
    .contenedor_letras textarea {
        width: 9.5%;
    }
    #ingresar_letras {
        display: flex;
        font-size: 24px;
        width: 100%;
    }
    .contenedor_botones_juego {
        width: 95%;
    }
    .ganaste_perdiste {
        width: 100%;
    }
    #ganaste_perdiste_label, #boton_jugar_nuevamente {
        font-size: 36px;
    }


}
@media screen and (max-width: 450px) {
    .contenedor_botones_iniciales {
        width: 100%;
    }
    #textarea_nueva_palabra, #condicion_palabra, .botones_palabra {
        width: 90%;
    }
    #textarea_nueva_palabra {
        font-size: 20px;
        min-height: 60%;
    }
    .botones_palabra, .contenedor_botones_juego {
        flex-direction: column;
    }
   
    .botones_palabra button {
        width: 100%;
    }
    .container_letras_general {
        min-height: 20%;
    }
    .contenedor_botones_juego {
        width: 95%;
        min-height: 30%;
        justify-content: space-around;
 
     }
    .contenedor_botones_juego button {
        width: 100%;
    }
    .contenedor_letras {
        font-size: 7px;
        justify-content: space-around;
    }
    .contenedor_letras textarea {
        width: 9.5%;
    }
    .contenedor_guiones {
        justify-content: space-around;

    }

    #letras_mal {
        width: 100%;
        font-size: 9px ;
    }
    #ingresar_letras {
        display: flex;
        font-size: 16px;
    }
    .ganaste_perdiste {
        width: 100%;
    }
    #ganaste_perdiste_label, #boton_jugar_nuevamente {
        font-size: 16px;
    }


}